doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(property="og:type" content="website")
        meta(property="og:url"  name="twitter:url" content= url)
        meta(property="og:title" name="twitter:title" content= title)
        meta(property="og:description" name="twitter:description" content= title)
        meta(property="og:image" content= thumbnail)
        meta(name="twitter:card" content= twitterCard)
        meta(name="twitter:image" content= thumbnail)

        meta(name="description" content= title)
        meta(name="author" content= title)
    body
        h1= title
        img(src= thumbnail alt= title)
        p= title
